.newProduct{
flex:4;
}
.addProductForm{
    margin-top: 10px;

}
.addProductItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



.addProductItem>label{
margin-bottom: 10px;
color: gray;
font-weight: 600;

}

.addProductItem>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
    }


.addProductItem>select{
    margin-bottom: 10px;
    color: gray;
        
}



.addProductButton{
border: none;
padding: 7px 10px;
margin-top: 10px;
border-radius: 10px;
background-color: darkblue;
color: white;
font-weight: 600;
cursor: pointer;
border: none;
}